@page "/api/Items/lista/{idPresupuesto:int}"
@inject IHttpServicio http
@inject MensajeService mensajeService
@inject NavigationManager nav

<div class="alert alert-info" style="display: @(!string.IsNullOrEmpty(mensajeService.Mensaje) ? "block" : "none")">
    @mensajeService.Mensaje
</div> @* Muestra el mensaje que se actualizò con exito. *@

<div class="fondo"></div>
<div class="overlay"></div>
<div class="contenedor-formulario">


    <button type="button" class="btn btn-secondary" @onclick="Volver">Volver</button>

    <h3>Items</h3>

    @if (!string.IsNullOrEmpty(Mensaje))
    {
        <div class="alert alert-danger" role="alert">
            No hay items disponibles para este presupuesto.
        </div>
    }

    @if (cargando)
    {
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    }

    @if (listaItems != null && listaItems.Any(p => p.Presupuesto_Id == idPresupuesto))
    {
        <table>
            <thead>
                <tr>
                    <th scope="col">Tiempo Estimado</th>
                    <th scope="col">Unidad de Tiempo</th>
                    <th scope="col">Material Estimado</th>
                    <th scope="col">Item Tipo</th>
                    <th scope="col">Presupuesto</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in listaItems.Where(p => p.Presupuesto_Id == idPresupuesto))
                {
                    <tr>
                        <td>@item.Tiempo_estimado</td>
                        <td>@item.Unidad_Tiempo</td>
                        <td>@item.Material_estimado</td>
                        <td>@MostrarNombreItemTipo(item.Item_Tipos_Id)</td>
                        <td>@MostrarPresupuesto(item.Presupuesto_Id)</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="Api/Items/editar/@item.Id"><i class="bi bi-pencil"></i> </a>
                            <button class="btn btn-danger btn-sm" @onclick="() => Eliminar(item.Id)"><i class="bi bi-trash3"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            No hay items registrados.
        </div>
    }

    <br/>

    <a class="btn btn-primary" href="/api/Items/crear/@idPresupuesto">
        <i class="bi bi-plus-circle"></i> Crear Item
    </a>
    
</div>

@code {
    [Parameter] public int idObra { get; set; }
    [Parameter] public int idPresupuesto { get; set; }

    List<Item> listaItems = new List<Item>();
    List<ItemTipo> listaItemsTipos = new List<ItemTipo>();
    List<Presupuesto> listaPresupuestos = new List<Presupuesto>();

    string Mensaje = "";

    bool cargando = true;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (!string.IsNullOrEmpty(mensajeService.Mensaje))
        {
            await Task.Delay(1500);  // Espera 3 segundos
            mensajeService.Mensaje = string.Empty;  // Borra el mensaje
        }
        await Leer();
        await CargarItemTipo();
        await CargarPresupuesto();
    }

    private async Task Leer()
    {
        try
        {
            cargando = true;
            Mensaje = ""; // Limpiar cualquier mensaje de error previo

            var resp = await http.Get<List<Item>>("Api/Items");
            if (!resp.Error)
            {
                listaItems = resp.Respuesta;
            }
            else
            {
                Mensaje = await resp.ObtenerError();
            }
        }
        catch (Exception ex)
        {
            Mensaje = $"Ocurrió un error al cargar los items: {ex.Message}";
        }
        finally
        {
            cargando = false;
        }
    }

    private async Task CargarItemTipo()
    {
        var respuesta = await http.Get<List<ItemTipo>>("api/ItemTipos");
        if (!respuesta.Error)
        {
            listaItemsTipos = respuesta.Respuesta;
        }
    }

    private string MostrarNombreItemTipo(int itemTipoId)
    {
        var itemTipo = listaItemsTipos?.FirstOrDefault(r => r.Id == itemTipoId);
        return itemTipo?.Nombre ?? "Sin asignar";
    }

    private async Task CargarPresupuesto()
    {
        var respuesta = await http.Get<List<Presupuesto>>("Api/Presupuestos");
        if (!respuesta.Error)
        {
            listaPresupuestos = respuesta.Respuesta;
        }
    }

    private string MostrarPresupuesto(int presupuestoid)
    {
        var presupuesto = listaPresupuestos?.FirstOrDefault(r => r.Id == presupuestoid);
        return presupuesto?.Nombre ?? "Sin asignar";
    }


    private async Task Eliminar(int id)
    {
        var resp = await http.Delete($"Api/Items/{id}");
        if (!resp.Error)
        {
            await Leer(); // Recarga la lista después de eliminar
        }
        else
        {
            Mensaje = await resp.ObtenerError();
        }
    }

    private void Volver()
    {

        nav.NavigateTo($"api/Presupuestos/lista/{idObra}");
    }
}